<p id="notice"><%= notice %></p>
<div class="category_button">
  <%= link_to new_user_category_path(current_user), class: 'btn btn-default' do %>
    カテゴリ新規作成
  <% end %>
</div>
<% if current_user.categories.any? %>
  <h1>カテゴリ一覧</h1>
  <% current_user.categories.each do |category| %>
    <div class ="category">
      <h2><%= link_to category.title, user_category_path(current_user,category.id) %></h2>
    </div>
  <% end %>
<% else %>
  <h1>登録がありません</h1>
  <div class="explanation_text">
    ★<%= link_to "カテゴリ", new_user_category_path(current_user) %>を作成し、ブックマークを登録しましょう
  </div>
<% end %>
