ブックマークをまとめておけるサービス<b>『ぶくまとめ』</b>
<br>
【ここが便利！】
<br>
パソコンをクリーンインストールしなくてはいけない…
<br>
パソコンを買い換えるのにブックマークを登録し直さないと…
<br>
<b>『ぶくまとめ』</b>を使えばそんな時も大丈夫！

<br>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <%= link_to "新規登録", '#' %>
</button>
