@import "bootstrap-sprockets";
@import "bootstrap";

/*.navbar{
  height: 20px;
}

#logo{
  font-size: 30px;
  font-weight: bold;
  text-decoration:none;
  color: rgb(255, 255, 255);
  }


*/
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgb(255, 255, 255);
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration:none;
}

body{
  text-align: center;
}

ul{
  list-style: none;
}

.page_about{
  font-size: 16px;
}

.point{
  line-height: 50px;
}

/*Topã®ul*/
.explanation_ul{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  text-align: left;
}

.explanation_text{
  font-size: 12px;
  color: rgb(140, 140, 140);
  line-height: 40px;
}

.navbar-inverse{
  background-color: rgb(100, 149, 237);
  border-color: rgb(100, 149, 237);
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(245, 245, 245);
}

a:hover {
  text-decoration: none;
}

.glyphicon.glyphicon-ok {
  color:rgb(0, 255, 102);
}

.category {
  width: 300px;
  height: 300px;
  border: solid 1px;
  border-radius: 50px;
  margin: 50px;
}

.error {
  color: red;
}
