@import "bootstrap-sprockets";
@import "bootstrap";

/*.navbar{
  height: 20px;
}

#logo{
  font-size: 30px;
  font-weight: bold;
  text-decoration:none;
  color: rgb(255, 255, 255);
  }


*/
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: rgb(255, 255, 255);
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration:none;
}

body{
  text-align: center;
}

.navbar-inverse{
  background-color: rgb(100, 149, 237);
  border-color: rgb(100, 149, 237);
}

.navbar-inverse .navbar-nav > li > a {
  color: rgb(245, 245, 245);
}
