<%= form_for [@user, @category] do |f| %>
  <div class="field">
    <%= label_tag "カテゴリ名" %><br />
    <%= f.text_field :title %>
  </div>
  <div class="explanation_text">
    ★あとで変更できます。
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
