<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag "カテゴリ名" %><br />
    <%= text_field_tag :title %>
  </div>
  <div class="actions">
    <%= submit_tag "登録" %>
  </div>
<% end %>
